## Using Sqlite3 for making a database and filling it with data

<b>Import Sqlite3</b>

In [11]:
import sqlite3

<b>Make / Connect to database</b>

In [12]:
conn = sqlite3.connect('lunch.db')
c = conn.cursor()

<b>Create table</b>

In [13]:
c.execute('''DROP TABLE meals''') ###deleting table

c.execute('''CREATE TABLE meals(sandwich TEXT, fruit TEXT, tablenumber INT)''') ###creating table

<b>The data</b>

In [14]:
sandwich = 'chicken'
fruit = 'orange'
tablenum = 22

<b>Putting data in table (database)</b>

In [15]:
c.execute('''INSERT INTO meals VALUES(?, ?, ?)''', (sandwich, fruit, tablenum)) ###inserting data into table
conn.commit()

<b>Getting results out of database<b>

In [16]:
c.execute('''SELECT * FROM meals''')
results = c.fetchall()
print(results)

[('chicken', 'orange', 22)]